.btn-success {
    background-color: transparent;
    border-color: transparent;
    color: black;
}

.btn-success.focus, .btn-success:focus {
    box-shadow: none;
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
    box-shadow: none;
}

hr {
    height: 1px;
    width: 65%;
    border-top: 1.75px solid black;
}