.pagination {
    margin-bottom: 32px; 
}
.pagination .page-item a {
    background: #fff;
    color: #014421;
    font-family: "Questrial";
}

.page-item.active .page-link {
    background-color: #28A745;
    border-color: transparent;
}

.page-link:focus {
    box-shadow: none;
}