@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

#downButton {
    animation: float 3s ease-in-out infinite;
}

.font-weight-normal {
	font-family: "Questrial";
}

.lead {
	font-family: "Raleway";
}